# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# Test coverage and pytest files
coverage/
.tox/
.cache/
*.cover
*.py,cover
.hypothesis/

# Static analysis tools
.mypy_cache/
.pyre/
.pytype/

# IDE configurations
.vscode/
.idea/

# Build and distribution
build/
dist/
*.egg
*.whl

# Environment variables
.env
.env.*

# Other
*.bak
*.swp

# Custom
config/paths
config/data
*.pt
outputs/
wandb/
checkpoints/
lightning_logs/
**/pretrained_models/**
*.jpg
*.csv
